@mixin heading ($font-weight, $line-color) {

    font-weight: $font-weight;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

    &:after {
        position: absolute;
        content: "";
        height: 2px;
        width: 65px;
        background: $line-color;
        bottom: 0px;
        transition: all 1s ease 0s;
    }

    &:hover:after {
        width: 350px;
    }
}