$font: #545454;
$btn-start: #f76e40;
$btn-start-hover: #c54317;
$btn-start-longer:#fe551e;

$light-color: #fff;
$dark-color: #000;
$marker-color1: #a20f2b;
$marker-color2: #fe551e;
$icons-color: #0d7ff2;
$icons-color2: #0e7ff9;
$card-color: #f7f7f7;
$quote-color: #f8f8f8;